<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Course</title>
    <style>
        a{
            padding:5px 20px;
            border:1px solid black;
            text-decoration: none;
        }
        .no{
            background:rgb(165, 165, 165);
        }
        .yes{
            background:rgb(167, 32, 32);
        }
        .wrapper{
            margin:0px 20px;
        }
    </style>
</head>
<body>
    <div class='wrapper'>
        <h2>Are you sure you want to delete the following course?</h2>
        <h3>Name: {{course.name}}</h3>
        <h3>Description: {{course.description}}</h3>
        <a class='no' href='/'>No</a>
        <a class='yes' href='/destroy/{{course.id}}/'>Yes, I want to delete this</a>
    </div>
</body>
</html>